# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio compilation logs and temporary files
*.tlog
*.lastbuildstate
*.idb
*.TMP

# Executables
*.exe
*.out
*.app

# Vim swap files
*.swp

# Temporary files under linux
*~

# .Sln and .vcxproj files will have to be generated locally for each user via CMake
*.sln
*.vcxproj
*.vcxproj.*